<section class="container py-4">
  <div class="row">
    <figure class="col-12 col-md-4 p-3" style="border-right: 3px solid black;">
      <img class="img-fluid imageUser" [src]="elUsuario.image" [alt]="elUsuario.first_name">
    </figure>
    <div class="col-12 col-md-8 p-3">
      <h1>{{elUsuario.first_name}}</h1>
      <h1>{{elUsuario.last_name}}</h1>
      <br><br>
      <p><b>Nombre Usuario:</b>&nbsp;{{elUsuario.username}}</p>
      <p><b>Email:</b>&nbsp;{{elUsuario.email}}</p>
      <table>
        <tr>
          <td style="border-right: 1px solid gray;"><button class="btn" (click)="deleteUser(elUsuario._id)">Eliminar</button></td>
          <td style="border-right: 1px solid gray;"><button class="btn" [routerLink]="['/updateUser', elUsuario.id]">Actualizar</button></td>
          <td><button class="btn" [routerLink]="['/home']">Volver a listado</button></td>
        </tr>
      </table>
    </div>
  </div>
</section>